/* Common Rules */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: rgba(176, 196, 222, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Common Rules */

.logo{
    display: flex;  
    justify-content: center;
}
.add_task{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.add_task input,
.add_task button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
}
.add_task button{
    cursor: pointer;
}
.message{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.message span{
    font-size: 14px;
}
.container_tasks{
    display: flex;
}
.tasks{
    background-color: rgb(255, 255, 255);
    padding: 15px 20px 60px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
}
.task input{
    background-color: rgba(211, 211, 211, 1);
    font-size: 20px;
}
.no_tasks{
    background-color: white;
    padding: 15px 20px 60px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    position: relative;
}
.no_tasks i{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    font-size: 23px;
    font-weight: 600;
}
.container_task{
    background-color: rgba(211, 211, 211, 1);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 3px 10px 3px;   
}
.icons{
    margin-left: 40px;
}
.icons i{
    padding-left: 10px;
    cursor: pointer;
}
.subtitle{
    color: #800080;
    text-decoration: underline;
    font-weight: 700;
}